/*Подключение шрифтов*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие стили*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.i-want-here-button {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 144px;
  text-align: center;
  max-width: 250px;
  align-self: center;
}

.brown-button {
  background-color: #756157;
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.brown-button:hover {
  background: #615048;
}

.brown-button:focus {
  background: #615048;
  outline: none;
}

.brown-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.brown-button:disabled {
  background: #e5e5e5;
  color: #ffffff;
}

.search-hotel-button {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 376px;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 20px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
}

/*Шапка страницы с навигацией*/

.page-header {
  display: flex;
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 238px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-width: 339px;
  max-width: 500px;
  padding: 0;
  margin: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-item-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.navigation-item-current .navigation-item-link,
.navigation-item-current span {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.choose-places-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  height: 100%;
  max-width: calc(44px*4);
}

.i-want-here-button-wrapper {
  min-width: 210px;
  display: flex;
  align-content: center;
  padding: 10px 20px;

}

.search-places-magnify-glass-button,
.favorites-places-button {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
  width: 44px;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.search-places-magnify-glass-button {
  background-color: #ffffff;
  background-image: url("../images/magnifying-glass-icon.svg");
}

.favorites-places-button {
  background-color: #ffffff;
  background-image: url("../images/favorites-icon.svg");
  position: relative;
  font-family: inherit;
}

.favorites-places-counter{
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-106%);
  padding-top: 5px;
  box-sizing: border-box;
}

/*Секция hero*/

.welcome-image-container {
  background-color: #a9dae9;
  background-image: url("../images/welcome-mountains.jpg");
  background-repeat: no-repeat;
  height: 485px;
  padding-top: 51px;
  margin-bottom: 69px;
  box-sizing: border-box;
}

.welcome-image {
  display: block;
  margin: auto;
}

/*Секция о Седоне*/

.about-sedona {
  text-align: center;
}

.about-sedona-short-description {
  margin: 0 auto 25px auto;
  width: 620px;
}

.about-sedona-visit-reasons {
  margin: 0 auto 90px auto;
}

/*Секция преимуществ*/

.features-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 400px);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.feature-item-description-container {
  padding: 20px 85px;
  height: 100%;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 62px;
}

.feature-item-with-image .feature-item-description-container {
  background-color: #82b3d3;
  color: #ffffff;
}

.feature-item-wo-image .feature-item-description-container {
  color: #000000;
}

.feature-item-wo-image:nth-child(even) .feature-item-description-container {
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-item-wo-image:nth-child(odd) .feature-item-description-container {
  background-color: rgba(131, 179, 211, 0.2);
}

.feature-item-with-image {
  display: flex;
  grid-column: span 3;
}

.feature-title,
.service-item-title {
  margin: 0 auto;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
}

.service-item-title {
  margin-bottom: 30px;
}

.feature-title {
  position: relative;
}

.feature-title::after {
  width: 60px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);

}

.feature-description {
  margin: 0;
}

.feature-image {
  object-fit: cover;
  height: 100%;
}

.feature-item-with-image .feature-title::after {
  background-color: rgba(255, 255, 255, 0.3)
}

.feature-item-wo-image .feature-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

/*Секция сервисов*/

.services-title-container {
  padding: 64px 347px;
  text-align: center;
}

.services-title {
  margin-bottom: 20px;
}

.services-common-description {
  margin: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
  min-height: 385px;
}

.service-item-content-wrapper {
  min-height: 223px;
  width: 230px;
  margin: 81px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-item-title::before {
  display: block;
}

.service-item-title-house::before {
  content: url("../images/house-icon.svg");
  height: 72px;
  margin-bottom: 30px;
}

.service-item-title-food::before {
  content: url("../images/food-icon.svg");
  height: 71px;
  margin-bottom: 31px;
}

.service-item-title-souvenir::before {
  content: url("../images/souvenir-icon.svg");
  height: 77px;
  margin-top: -3px;
  margin-bottom: 28px;
}

.service-item-description {
  margin: 0;
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Секция перехода к поиску отелей*/

.invitation {
  padding: 96px 304px;
  text-align: center;
}

.invitation-description {
  margin-bottom: 54px;
}

/*Подвал с возможностью подписки и контактной информацией*/

.email-subscribe {
  padding: 95px 258px 104px 258px;
  background-image: url("../images/email-subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a9dae9;
}

.email-subscribe-title,
.email-subscribe-teaser {
  color: #ffffff;
}

.email-subscribe-title {
  margin-bottom: 21px;
}

.email-subscribe-teaser {
  margin-left: 104px;
  margin-right: 104px;
  margin-bottom: 55px;
}

.email-subscribe-form {
  min-width: 684px;
  margin: 0 auto;
  display: flex;
}

.email-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  border: 0;
}

.email-input::placeholder {
  color: #000000;
  opacity: 0.6;
}


.inner-footer .email-input {
  background-color: #f2f2f2;
}

.email-subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 50px;
  align-self: center;
  max-width: 350px;
}

.blue-button {
  background-color: #82b3d3;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  color: #ffffff;
}

.blue-button:hover {
  background-color: #68a2ca;
}

.blue-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.blue-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.blue-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 70px 30px 70px;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 142px;
  max-width: 250px;
  height: 100%;
  /*justify-content: space-between;*/
  padding: 0;
  margin: 5px 0;
  align-items: center;
}

.social-item-link {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  fill: #83b3d3;
  transition-property: fill;
  transition-duration: 0.3s;
}

.social-item-link:hover {
  fill: #68a2ca;
}

.social-item-link:focus {
  fill: #68a2ca;
  outline: none;
}

.social-item-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  transition-property: color;
  transition-duration: 0.3s;
  text-align: center;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:focus {
  color: #756157;
  outline: none;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html-academy-link svg {
  fill: #000000;
  transition-property: fill;
  transition-duration: 0.3s;
}

.html-academy-link svg:hover {
  fill: #756157;
}

.html-academy-link svg:focus {
  fill: #756157;
  outline: none;
}

.html-academy-link svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*СТРАНИЦА КАТАЛОГА*/

.hotel-catalog-filter {
  background-color: #a9dae9;
  background-image: url("../images/catalog/hotel-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 34.5px 70px 66px 70.5px;
  color: #ffffff;
}

.hotel-catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  align-items: center;
  font-size: 16px;
}

.breadcrumbs-home-link {
  background-image: url("../images/catalog/homepage-icon.svg");
  background-repeat: no-repeat;
  display: block;
  height: 12px;
  width: 12px;
  text-indent: -9999px;
  overflow: hidden;
}


.breadcrumbs-inner-item::before {
  content: url("../images/catalog/breadcrumbs-arrow.svg");
  margin-left: 10px;
  margin-right: 7px;
}

.breadcrumbs-item-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item-link:focus {
  outline: none;
}

.breadcrumbs-item-link:active {
  opacity: 0.3;
}

.filter-settings {
  display: flex;
  min-height: 164px;
}

.filter-set {
  border: 0 none;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: 0;
  margin-left: 0;
  margin-right: 70px;
}

.filter-set:nth-last-of-type(2) {
  margin-right: 20px;
}

.filter-set:last-of-type {
  margin-left: auto;
}

.filter-set-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.filter-set-child-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  max-width: 270px;
}

.filter-set-child-item-label {
  line-height: 23px;
  position: relative;
  display: inline-block;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
}

.checkbox-mark {
  border-radius: 4px;
}

.radio-mark {
  border-radius: 50%;
}

.control-description {
  padding-left: 36px;
  display: inline-block;
}

.filter-set-child-item-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  width: 20px;
  height: 19px;
  background-image: url("../images/catalog/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.filter-set-child-item-input[type="radio"]:checked + .control-mark {
  background-color: #3f5e72;
  border: 5.5px solid #ffffff;
  box-sizing: border-box;
}

.filter-set-child-item-label:hover {
  opacity: 0.6;
}

.filter-set-child-item-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.filter-set-child-item-input ~ span {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.filter-set-child-item-input:active ~ span {
  opacity: 0.3;
}

.filter-set-child-item-input:disabled + .control-mark {
  opacity: 0.1;
}

.price-filter {
  display: flex;
  flex-direction: column;
}

.min-to-max-input-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.price-input-wrapper {
  position: relative;
}

.price-input {
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: 0;
  border: none;
  transition-property: outline;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.price-input:focus {
  outline: 3px solid #83b3d3;
}

.min-price-input {
  border-radius: 4px 0 0 4px;
}

.max-price-input {
  border-radius: 0 4px 4px 0;
}

.price-label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  opacity: 0.3;
  color: #000000;
  line-height: 24px;
}

.price-range-wrapper {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.price-range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-range-toggle-button {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  border: none;
  transition-property: outline;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.price-range-toggle-button:focus {
  outline: 3px solid #83b3d3;
}

.price-range-toggle-button:active {
  outline: 2px solid #83b3d3;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 57px;
}

.filter-form-button {
  min-width: 191px;
  max-width: 330px;
  min-height: 36px;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  transition-property: opacity, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.reset-filter-button {
  background-color: transparent;
  border: 3px solid transparent;
}

.reset-filter-button:hover {
  opacity: 0.6;
}

.reset-filter-button:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.reset-filter-button:active {
  opacity: 0.3;
  border: 3px solid #83b3d300;
}

.reset-filter-button:disabled {
  opacity: 0.1;
  border: 3px solid #83b3d300;
}

.found-hotels {
  width: 1060px;
  margin: 50px auto 61px;
}

.found-hotels-control-container {
  display: flex;
  width: 1060px;
  min-height: 49px;
  margin: 0 0 40px 0;
  align-items: center;
}

.found-hotels-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.found-hotels-sort-control {
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  margin-left: auto;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 38px 12px 18px;
  appearance: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../images/catalog/dropdown-selection-arrow.svg");
  background-repeat: no-repeat;
  background-position: 258px 18px;
  transition-property: border, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
}

.found-hotels-sort-control:hover {
  border: 2px solid #68a2ca;
}

.found-hotels-sort-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.found-hotels-sort-control:active {
  border: 2px solid #3F5E72;
}

.found-hotels-sort-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.found-hotels-output-type-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 165px;
  gap: 8px;
  margin: 0 0 0 70px;
  padding: 0;
  flex-shrink: 0;
}

.found-hotels-output-type-button {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 48px;
  width: 48px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

.found-hotels-output-type-button {
  border: 2px solid #e5e5e5;
}

.found-hotels-output-type-button:hover {
  border-color: #000000;
}

.found-hotels-output-type-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.found-hotels-output-type-button:active {
  border-color: #000000;
}

.found-hotels-output-type-button-active {
  border: 2px solid #000000;
}

.view-as-small-cards-button {
  background-image: url("../images/catalog/view-as-small-cards.svg");
}

.view-as-card-with-description-button {
  background-image: url("../images/catalog/view-as-card-with-detailed-description.svg");
}

.view-as-list-button {
  background-image: url("../images/catalog/view-as-list.svg");
}

.found-hotels-output-type-button {
  border: 2px solid #e5e5e5 ;
  border-radius: 4px;
  background-color: #ffffff;
}

.found-hotels-output-type-button-active {
  border-color: #000000;
}

.found-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
  list-style: none;
  padding: 0 0 40px 0;
  margin: 0 0 38px 0;
  border-bottom: 1px solid #e6e6e6;
}

.found-hotels-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  margin: 0;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  gap: 16px 20px;
}

.found-hotels-item-image-link {
  grid-column: 1 / -1;
}

.found-hotels-item-name-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.found-hotels-item-name {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.found-hotels-item-price {
  text-align: end;
}

.found-hotels-item-detailed-link {
  display: inline-block;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.found-hotels-item-add-to-favorites-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.added-to-favorite {
  background-color: #7db54f;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.added-to-favorite:hover {
  background: #6c9e42;
}

.added-to-favorite:focus {
  background-color: #6c9e42;
  outline: none;
}

.added-to-favorite:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}


.found-hotels-item-rating-stars {
  background-image: url('../images/catalog/rating-star-icon.svg');
  background-repeat: space;
  background-size: 18px auto;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0;
  height: 17px;
  align-self: center;
}

.found-hotels-item-rating-2-stars {
  width: 42px;
}

.found-hotels-item-rating-3-stars {
  width: 66px;
}

.found-hotels-item-rating-4-stars {
  width: 89px;
}

.found-hotels-item-rating-with-points {
  text-decoration: none;
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 8px;
}

.found-hotels-pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.found-hotels-pagination-item {
  display: table;
  background-color: #82b3d3;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
}

.found-hotels-pagination-item-active {
  background-color: #f2f2f2;
}

.found-hotels-pagination-link {
  text-decoration: none;
  display: table-cell;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  border-radius: 4px;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.found-hotels-pagination-range-item {
  box-sizing: border-box;
  color: #000000;
  padding-top: 16px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 60px;
}


.found-hotels-pagination-active {
  color: #000000;
}

.found-hotels-pagination-link:hover{
  background-color: #68a2ca;
}

.found-hotels-pagination-link:focus{
  background-color: #68a2ca;
  outline: none;
}

.found-hotels-pagination-link:active{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.found-hotels-pagination-active,
.found-hotels-pagination-active:hover,
.found-hotels-pagination-active:focus,
.found-hotels-pagination-active:active
{
  background-color: #f2f2f2;
  color: #000000;
}

.inner-footer .email-subscribe{
  background-image: none;
  background-color: #ffffff;
}

.inner-footer .section-title {
  color: #000000;
}

.inner-footer .email-subscribe-teaser {
  color: #000000;
}

/*Popup*/

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  z-index: 2;
}

/* Отключание видимости модального окна*/
/*.modal-container {*/
/*  display: none;*/
/*}*/

.popup-wrapper {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  margin: auto;
  padding: 64px 70px;
  width: 577px;
  color: #000000;
}

.popup-close-button {
  position: absolute;
  top: 64px;
  right: 54px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  background-image: url("../images/close-popup.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.popup-close-button:hover {
  background-color: #e6e6e6;
}

.popup-close-button:focus {
  outline: 3px solid #83b3d3;
}

.popup-close-button:active {
  background-image: url("../images/close-popup-active.svg");
}

.popup-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 64px 0;
}

.search-hotel-form {
  display: grid;
  grid-template-columns: 137px 198px 131px 111px;
  row-gap: 48px;
}

.arrival-date,
.departure-date {
  position: relative;
  padding: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
}

.date-input {
  padding: 12px 20px;
  width: 440px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url("../images/calendar-icon.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  outline: none;
  transition-property: outline, background-color;
  transition-duration: 0.15s, 0.3s;
  transition-timing-function: ease-in-out;
}

.date-input[type="date"] {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.date-input:hover {
  background-color: #e6e6e6;
}

.date-input:focus {
  outline: 3px solid #83b3d3;
}

.date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

.date-example {
  position: absolute;
  left: 157px;
  top: 13px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.wrong-date-message {
  position: absolute;
  left: 157px;
  top: 52px;
  color: #ff5757;
  font-size: 16px;
  line-height: 21px;
}

.free-date-message {
  position: absolute;
  left: 157px;
  top: 52px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.adjust-people-quantity-controls {
  display: flex;
  justify-content: flex-start;
  width: 110px;
  position: relative;
}

.adjust-adults-quantity-controls {
  grid-column: 2/3;
}

.change-people-quantity-button {
  position: absolute;
  border: none;
  cursor: pointer;
  background: #f2f2f2;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transition-property: outline;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.decrease-people-button {
  position: absolute;
  left: 10px;
  top: 14px;
  background-image: url("../images/decrease-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.decrease-people-button:hover {
  background-image: url("../images/decrease-icon-active.svg");
}

.decrease-people-button:focus {
  outline: 3px solid #82b3d3;
}

.increase-people-button {
  position: absolute;
  right: 10px;
  top: 14px;
  background-image: url("../images/increase-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.increase-people-button:hover {
  background-image: url("../images/increase-icon-active.svg");
}

.increase-people-button:focus {
  outline: 3px solid #82b3d3;
}

.adults-quantity-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: block;
  align-self: center;
}

.people-quantity-input {
  padding: 14px 10px;
  border: none;
  box-sizing: border-box;
  background: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 110px;
  text-align: center;
  appearance: textfield;
  border-radius: 4px;
}

.people-quantity-input::-webkit-outer-spin-button,
.people-quantity-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.children-quantity-wrapper {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  position: relative;
}

.children-quantity-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: block;
  align-self: center;
}

.children-information-icon {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url("../images/children-information-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  cursor: pointer;
}

.children-tooltip {
  position: absolute;
  width: 256px;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 10px;
  top: 52px;
  left: -57px;
  display: none;
}

.children-tooltip::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  background-image: url("../images/tooltip-triangle.svg");
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.children-information-icon:hover + .children-tooltip {
  display: block;
}

.adjust-children-quantity-controls {
  grid-column: 4/5;
}

.button-found {
  grid-column: 1/-1;
  border: none;
  border-radius: 10px;
  padding: 18px 77px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
}
